<mat-grid-list [cols]="4">
  <mat-grid-tile *ngFor="let servicio of servicios">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ servicio.nombre }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ servicio.descripcion }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="edit(servicio)" mat-button>Editar</button>
        <button (click)="delete(servicio.codigo)" mat-button>Eliminar</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
